<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm0N5GUEzWOA5oAvziDRDL1Uzm2NuszrE</string>
	<key>GCM_SENDER_ID</key>
	<string>231460986117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furyuHackathon2024Hiyokogumi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>furyu-hackathon-hiyokogumi</string>
	<key>STORAGE_BUCKET</key>
	<string>furyu-hackathon-hiyokogumi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231460986117:ios:39b36968f770bfc7296b6c</string>
</dict>
</plist>